<p style="color: green"><%= notice %></p>

<h1>Home</h1>
<%= button_to 'Scrape', scrape_podcastscrappings_path %>

<div id="podcastscrappings">
  <% @podcastscrappings.each do |podcastscrapping| %>
    <%= render podcastscrapping %>
    <p>
      <%= link_to "Show this podcastscrapping", podcastscrapping %>
    </p>
  <% end %>
</div>
